@import url('https://fonts.googleapis.com/css?family=Spectral');


body{
   
  font-family: "Spectral script=all rev=1", "Adobe Blank";
  font-weight: 600;
  font-style: normal;
  
}
 .landing{
   
  background-image: url('../../images/libro-minimalismo-minimalista-hogar-estilo-vida-lectura-leer.jpg') !important;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100vh;
  padding-top: 40px;

 }

.p-5{
    margin-top: 20vh;
}

  .mb-2{
    margin-left: -2vw;
    color: darkblue;
  }
  .form-control{
    margin-left: 1vw;
  }

  .btn-danger{
    margin-left: 20px;
  }


  .info{
    color: white; 
    background-color: rgba(3, 3, 3, 0.7);
    padding: 10px;
    color: white;
    text-align: center;
    font-size: 5vh;
    border: 3px solid white;
    padding-bottom: 3%;
    width: 70%;
    height: 70%;
    margin: auto;
  
  }

  .col-sm-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    margin-top: 70px;
}

