.list-group-item {
    z-index: 2;
    color: black !important;
    background-color: #fff !important;
      background-clip: border-box !important;
      border: 1px solid rgba(0,0,0,.125) !important;
      border-radius: .25rem !important;
      margin-bottom: 2vh !important;
      text-align: center !important;
      box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
      margin-right: 25px;
      margin-left: 25px;
      
  }
  .mt-5, .my-5 {
    margin-top: 3rem !important;
}

.list-group {
  flex-direction: row !important;
  padding-left: 0;
  margin-bottom: 0;
  max-width: 100%;
}
dl, ol, ul {
  margin-top: 0;
  margin-bottom: 1rem;
}
*, ::after, ::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.list-group-item.active {
  z-index: 2;
  color: black !important;
  background-color: #fff !important;
    background-clip: border-box !important;
    border: 1px solid rgba(0,0,0,.125) !important;
    border-radius: .25rem !important;
    margin-bottom: 2vh !important;
    text-align: center !important;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
    max-width: 30vw !important;
    margin-left: 0 !important;
    margin-top: 50px;
}

.Delete{
  color:red !important;
}
.Profile{
      
  align-items: center;
  width: 100%;
  position: absolute;
  overflow: hidden;
  margin-top: 0;
  background-image: url('../../images/escribiendo.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  
  
}
      .form-unregister{
          margin-top: 55px;
          background: rgba(255, 255, 255, 0.7)
      }
                      input{
                          margin-left: 0 !important
                      }
 .btn{
  display: flex;
 }
 

 .profile-container {
   width: 100%;
 }
 .profile-card{
  color: white; 
  background-color: rgba(3, 3, 3, 0.7);
  padding: 10px;
  color: white;
  text-align: center;
  font-size: 5vh;
  border: 3px solid white;
  padding-bottom: 3%;
  width: 70%;
  height: 70%;
  margin-top: -100px;
  margin-left: 15vw;
  justify-content: center;
  

 }

 .Update{
  margin-right: 270px;
 }

 .reviews{
   margin-top: 50px;
   margin-left: 50px;
 }

  .favorites{
  display: flex;
  max-width: 100% !important;
}
 .card-img-top {
    width: 100%;
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
    height: auto;
}

.favorite-body {
   height: 60vh;
}

.container-fluid{
  
  padding: 10px;
  text-align: center;
  
}

.Unregister-form{
  margin:auto;
  margin-bottom: 25px;
}
.Update-form{
  margin:auto;
  margin-bottom: 25px;
 
}

.rounded-circle{
    width: 10vw;
    height: 10vw;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  
.profile-card_cardbody{
  
  background-color:white;
  opacity: 0.7;
  padding-bottom: 15px;
  border-radius: 25px;


}

.buttons{
  margin-bottom: 15px;
}
